@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 10%;">
    
    <h1>Welcome<br />to<br />Employee Management Application </h1>
    <br/>
    <p>In here you can Add, Edit and Delete Employee Information and Calculate Working Days for time Duration.</p>
    <p>Feel Free to go through the Navigation Bar</p>
    
</div>

